<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>PatientRegistration-ConnectionPool-TomCat</display-name>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>pr</servlet-name>
		<servlet-class>com.vijay.servlet.PatientRegistrationServlet</servlet-class>
		<init-param>
			<param-name>val1</param-name>
			<param-value>xFirst</param-value>
		</init-param>
		<init-param>
			<param-name>val2</param-name>
			<param-value>xSecond</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>pr</servlet-name>
		<url-pattern>/registerurl</url-pattern>
	</servlet-mapping>


</web-app>